#verbose: false

#release_repo: https://github.com/cepc/cepc-release

#release_root: ~/cepcsoft
#work_root: ~/mywork

#make_opt: -j16

#versions:
#  '312':
#    version: 3.1.2
#    cepcsoft_root: ~/cepcsoft3
#    work_root: ~/mywork2
#  'test':
#    version: 1.2.1
#    work_root: ~/mywork_test
