#verbose: false

#release_repo: https://github.com/bsmsoft/bsmdemo

#software_root: ~/bsmsoft

# Setup os manually if:
# 1. OS not correctly detected,
# 2. You want to use installation from other OS
#option:
#  work_root: ~/mywork
#  os: sl6

# Uncomment the following lines to define customized scenarios
# Each scenario could have its own
# "version", "software_root", "release_repo", "option", etc.
#scenario:
#  '1.2.3':
#    release_repo: https://github.com/bsmsoft/newdemo
#    option:
#      work_root: ~/mywork123
#      arch: x86
#      os: centos7
#      ignore_gcc_library: true
#  'test':
#    version: '1.2.1'
#    software_root: ~/soft_test
